.pets {
    width: 100%;
    position: relative;
    background-color: var(--color-white);
    min-height: 100vh;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-sm);
    color: var(--text2);
    font-family: var(--title);
}
.pawIcon {
    position: absolute;
    top: 336px;
    left: -53px;
    width: 325.8px;
    height: 325.8px;
    object-fit: contain;
}
.pawIcon1 {
    position: absolute;
    top: 158px;
    left: 1203px;
    width: 277.5px;
    height: 277.5px;
    object-fit: contain;
}
.pawIcon2 {
    position: absolute;
    top: 53px;
    left: 349px;
    width: 313.3px;
    height: 313.3px;
    object-fit: contain;
}
.pawIcon3 {
    position: absolute;
    top: 668px;
    left: 396px;
    width: 281.1px;
    height: 281.1px;
    object-fit: contain;
}
.pawIcon4 {
    position: absolute;
    top: 552.11px;
    left: 806.11px;
    width: 301.1px;
    height: 301.1px;
    object-fit: contain;
}
.frameParent {
    position: absolute;
    top: 20px;
    left: 138px;
    /*left: 150px;*/
    border-radius: 0 0 var(--br-xl) var(--br-xl);
    /*width: 1164px;*/
    width: 1260px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: var(--title-size);
}

.animalList {
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    justify-content: center;
    padding: 32px 138px;
    margin-top: 150px;
}

